
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, button, textarea,
p, blockquote, th, td, a {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
ul,li{
    list-style: none;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.Back{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
body{
    background-color: #f3f1f4;
}
.back {
    width: 1000px;
    margin: 0 auto;
    padding: 25px 0 100px;
    font-family: "Arial";
    overflow: hidden;
}
.content{
    width: 445px;
    /*height: 515px;*/
    float: left;
}
.contentTop{
    overflow: hidden;
}
.contentTop i{
    font-style: normal;
    color: #fffaa8;;
}
.reg_logo{
    float: left;
    display: inline-block;
    width: 227px;
    height: 67px;
    background: url(../images/reg_logo.png) no-repeat ;
}
.reg_btn{
    display: inline-block;
    float: right;
    width: 143px;
    height: 45px;
    background: url(../images/login_btn.png) no-repeat 0px -190px;
    margin: 45px 0 0 70px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 32px;
}
.photo{
    float: right;
    width: 500px;
    padding-top: 130px;
    text-align: center;
}
.contentBottom{
    border: 1px solid #CCCCCC;
    width: 445px;
    /*height: 425px;*/
    border-radius: 5px;
    background-color: #eeecef;
}
.bg{
    width: 401px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 14px;
}
.bg h2{
    background: url("../images/login_bg.png") no-repeat 0 0px;
    width: 320px;
    padding-left: 80px;
    height: 36px;
    line-height: 30px;
    font-size: 12px;
    color: #000;
    margin-bottom: 12px;
}
.false{
    display: none;
    width: 21px;
    height: 36px;
    background: url(../images/R_W.png) no-repeat 0px -222px;
    margin: -13px 5px;
}
.true{
    /*display: none;*/
    display: inline-block;
    width: 21px;
    height: 36px;
    background: url(../images/R_W.png) no-repeat 0px -182px;
    margin: -13px 5px;
}
.qq{
    color: #555555;
    margin-left: 45px;
}
.name{
    color: #555555;
    margin-left: 33px;
    margin-top: 10px;
}
.input1,.input2,.input3,.input4{
    background-color: #fff;
    border: 1px solid #e5e3e5;
    width: 240px;
    height: 32px;
    font-size: 14px;
    color: #808080;
    border-radius: 5px;
    padding-left: 3px;
    margin-left: 10px;
}
.input1{
    margin-top: 10px;
}
.psw1{
     color: #555555;
     margin-left: 45px;
 }
.psw2{
    color: #555555;
    margin-left: 21px;
}
.checkbox{
    margin-left: 97px;
    margin-top: 3px;
}
.btn{
    width: 150px;
    height: 62px;
    border: none;
    color: #fff;
    margin-left: 97px;
    cursor: pointer;
    background: url(../images/login_btn.png) no-repeat 0px 0px;
    text-indent: -9999px;
}
.bg .span1{
    color: #d21522;
    font-size: 12px;
    margin-bottom: 25px;
    display: inline-block;
    cursor: pointer;
}
.bg p{
    color: #d21522;
    height: 20px;
    line-height: 20px;
    margin-left: 93px;
}
.other{
    margin-top: 20px;
}
.other a{
    display: inline-block;
    width: 87px;
    height: 26px;
    margin: 10px 5px;
}
.other a:last-child{
    margin-top: 0px;
}
.other img{
    width: 87px;
    height: 26px;
}
.other p{
    color: black;
    margin-left: 5px;
}






/*底部*/
.footer{
    margin-top: 80px;
}
.footer h2 {
    width: 100px;
    display: inline-block;
}
.footer .footerCenter{
    width: 100%;
    height: 175px;
    background-color: #f7f7f7;
    margin-top: 40px;
    overflow: hidden;
}
.footer .footerCenter .FC{
    width: 180px;
    /*display: inline-block;*/
    float: left;
    border-right: 1px solid #e9e1e8;
    margin-top: 22px;
}
.footer .footerCenter .FC ul{
    width: 100%;
    margin: 6px 10px;
}
.footer .footerCenter .FC ul li{
    background: url("../images/ft_li.png") no-repeat left center;
    padding-left: 10px;
    margin-left: 37px;
    margin-top: 4px;
    width: 100px
}
.footer .footerCenter .FC a{
    color: #999999;
    font-size: 12px;
}
.footer .footerCenter .FC a:hover{
    color: #555555;
}
.footer .footerCenter h2{
    width: 65px;
    height: 30px;
    line-height: 27px;
    padding-left: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #c95c61;
    margin-left: 46px;
}
.footer .footerCenter .photo1{
    background: url("../images/ft_h2.png") no-repeat;
}
.footer .footerCenter .photo2{
    background: url("../images/ft_h2.png") no-repeat 0px -50px
}
.footer .footerCenter .photo3{
    background: url("../images/ft_h2.png") no-repeat 0px -98px
}
.footer .footerCenter .photo4{
    background: url("../images/ft_h2.png") no-repeat 0px -147px
}
.footer .footerCenter .photo5{
    width: 158px;
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    padding-top: 25px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 10px;
    background: url("../images/css_spirit.png") no-repeat 0px -154px;
}
.footer .FCLast{
    width: 240px;
    float: right;
    margin-top: 20px;
}
.footer .FCLast h2 {
    width: 155px;
    padding-left: 35px;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 18px;
    background: url(../images/ft_h2.png) no-repeat 0px -200px;
}
.footer .FCLast h2 span{
    font-size: 12px;
}
.footer .FCLast .qq_line{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: #999999;
}
.footer .FCLast .time{
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
    margin-left: -62px;
}
.footerLink{
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #d31c28;
}
.footerLink ul{
    width: 527px;
    height: 100%;
    margin: 0 auto;
}
.footerLink ul li{
    width: 87px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
    border-right: 1px solid white;
    float:left;
}
.footerLink ul li:last-child{
    border-right: none;
}
.footerLink ul li a{
    font-size: 12px;
    color: white;
}
.footerLink ul li a:hover{
    color: black;
}
.copyright {
    width: 100%;
    text-align: center;
    color: #999;
    line-height: 26px;
    margin: 10px auto;
}
.png{
    width: 100%;
    text-align: center;
    margin-bottom:60px;
}
.png a{

}