{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/details.css">
    <script src="/static/js/jquery-1.12.0.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/public.js"></script>
    <script src="/static/js/info1.js"></script>
</head>
<body>

<!--顶部-->
<div class="top">
    <div class="Back">
        <p>关闭</p>按
        <strong>Ctrl+D</strong>，将
        <em>步淘网</em>加入收藏夹或者
        <a href="#" id="btn_bc">下载快捷方式到桌面</a>
        <span>不再提醒</span>
    </div>
</div>
<!--头部-->
<div class="header">
    <div class="Back">
        <ul>
            <li><a href="#" class="collect">收藏步淘</a></li>
            <li class="line">线</li>
            <li>您好！欢迎来到步淘生活商城！</li>
            <li><a href="./Login.html" target="_blank">请登录</a></li>
            <li class="line">线</li>
            <li><a href="./register.html" target="_blank">注册有礼</a></li>
            <li class="line">线</li>
            <li>
                <dl>
                    <dt>
                        <a href="#">快捷登录</a>
                        <b></b>
                    </dt>
                </dl>
            </li>
        </ul>
        <ul>
            <li>400-680-2212</li>
            <li class="line">线</li>
            <li><a href="./shopcar.html">购物车：<span>0</span>件商品</a></li>
            <li>我的步淘</li>
            <li class="line">线</li>
            <li>关注我们</li>
        </ul>
    </div>
</div>



<!--logo-->
<div class="logo">
    <div class="Back">
        <a href="#" title="步淘商城" class="shopLogo">步淘商城</a>
        <div class="logoCenter">
            <div class="shopSearch">
                <span></span>
                <input type="text" placeholder="关键字">
                <input type="button">
            </div>
            <div  class="searchList">
                <a href="#">森马</a>
                <a href="#">巴拉巴拉</a>
                <a href="#">迪士尼</a>
                <a href="#">外套</a>
                <a href="#">针织衫</a>
                <a href="#">羽绒服</a>
                <a href="#">牛仔裤</a>
                <a href="#">女鞋</a>
                <a href="#">男鞋</a>
            </div>
        </div>

        <div class="logoRight">
            <a href="#" title="质量保证" class="safe">质量保证</a>
            <a href="#" title="手机端" class="phone">手机端</a>
        </div>

    </div>
</div>

<!--商品导航-->
<div class="shopNav">
    <div class="Back">
        <ul>
            <li><a href="./register.html">首页</a></li>
            <li><a href="#">品牌大卖</a></li>
            <li><a href="#">女装折扣</a></li>
            <li><a href="#">品牌男装</a></li>
            <li>
                <a href="#">积分抽奖</a>
                <i class="iphone"></i>
            </li>
            <li>
                <a href="#">特价商品</a>
                <i class="hot"></i>
            </li>
            <li><a href="#">签到换礼</a></li>
        </ul>
    </div>
</div>

<div class="shopInfo_container">
    <div class="shopInfoTop">
        <h2>
        </h2>
        <div class="shopPhoto">
            <img src="{% static detail.img %}"  alt="" style="width: 440px;height: 280px;"/>
            <div class="smallArea"></div>
        </div>
        <div class="bigArea">
            <img class="bigImg"  alt="">
        </div>
        <div class="shopDetail">
            <div class="price">
                <b>￥</b><strong></strong><span>{{detail.price2}}<u>￥{{ detail.price }}</u></span>
            </div>
            <div class="evaluate">
                <span>商品评价：<i></i>5分</span>
                <a href="#"><span>64</span>人评价</a>
            </div>
            <div class="shopBuy">
                <input type="button" >
                <a href={% url 'JX:shopCar' %}>
                </a>
            </div>
            <div class="date"></div>
            <div class="shopPromise">
                <span>服务承诺</span>
                <a href="#" class="shopPromise1">正品保证</a>
                <a href="#" class="shopPromise2">七天无理由退换</a>
                <a href="#" class="shopPromise3">送iPad Air 赢积分</a>
            </div>
            <div class="buySum"><strong>298</strong>人购买</div>
        </div>
    </div>
</div>
<div class="shopInfoBottom">
    <div class="left">
        <img src="" alt="">
        <div class="shopInfoList">
            <ul>
                <li>【宝贝品牌】：可爱女人</li>
                <li>【流行元素】：浅口 交叉绑带 金属装饰</li>
                <li>【颜色分类】：银色 金色 黑色</li>
            </ul>
            <ul>
                <li>【鞋头款式】：鱼嘴</li>
                <li>【鞋跟款式】：内增高</li>
                <li>【鞋子尺码】：35 36 37 38 39 40</li>
            </ul>
        </div>
        <p>清仓，19.9包邮，天猫限时活动价128元，错过后悔整个夏天。质量保证，15天退换。{{detail.hh}}</p>
        <img src="/static/images/timg.jpeg" alt="" style="width: 728px;">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <div class="right">
        <div class="bar_title"></div>
        <ul>
            <li>
                <h2 class="h2_01">消费发生纠纷先行付款</h2>
                以顾客的利益为先，一旦出现问题，优先为顾客赔偿解决
            </li>
            <li>
                <h2 class="h2_02">闪电发货服务</h2>
                3个工作日内发货，晚发一天赔偿5元步淘币（自然灾害除外）
            </li>
            <li>
                <h2 class="h2_03">七天无条件退换货</h2>
                商品质量问题，不喜欢，尺码选择不对，7天内无条件退款！
            </li>
            <li>
                <h2 class="h2_04">商品质量严格把关</h2>
                所有产品上线前，经过严格质量把关，让顾客放心购买！
            </li>
            <li class="li_none">
                <div class="h2_05"></div>
            </li>
        </ul>
    </div>
</div>


<!--底部-->
<div class="footer">
    <div class="footerCenter">
        <div class="Back">
            <div class="FC">
                <h2 class="photo1">用户帮助</h2>
                <ul>
                    <li><a href="#">玩转步淘商城</a></li>
                    <li><a href="#">商城生活常见问题</a></li>
                    <li><a href="#">网站的保障计划</a></li>
                    <li><a href="#">本站意见建议</a></li>
                </ul>
            </div>
            <div class="FC">
                <h2 class="photo2">购物相关</h2>
                <ul>
                    <li><a href="#">网站购物向导</a></li>
                    <li><a href="#">本站订单操作</a></li>
                    <li><a href="#">汇款&转账</a></li>
                    <li><a href="#">验收与签收</a></li>
                </ul>
            </div>
            <div class="FC">
                <h2 class="photo3">商务合作</h2>
                <ul>
                    <li><a href="#">本站商户入驻</a></li>
                    <li><a href="#">本站商户登陆</a></li>
                    <li><a href="#">本站合作案例</a></li>
                    <li><a href="#">步淘友情衔接</a></li>
                </ul>
            </div>
            <div class="FC">
                <h2 class="photo4">关于步淘</h2>
                <ul>
                    <li><a href="#">关于生活商城</a></li>
                    <li><a href="#">步淘网诚聘英才</a></li>
                    <li><a href="#">联系步淘网</a></li>
                    <li><a href="#">生活商城用户协议</a></li>
                </ul>
            </div>
            <div class="FCLast">
                <h2>客服热线<span>（免长途费）</span></h2>
                <div class="photo5">
                    <div class="qq_line">
                        qq在线客服：
                        <a href="#"><img src="/static/images/qq_qy.png" alt="" width="22" height="21"></a>
                    </div>
                </div>
                <div class="time">(周一到周日：08:30-18:00)</div>
            </div>
        </div>
    </div>
    <div class="footerLink">
        <div class="Back">
            <ul>
                <li><a href="#">关于步淘网</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">网站诚聘英才</a></li>
                <li><a href="#">友情链接</a></li>
                <li><a href="#">隐私条款</a></li>
                <li><a href="#">网站地图</a></li>
            </ul>
        </div>
    </div>
    <div class="footerBottom">
        <div class="Back">
            <div class="copyright">Copyright @ 2010-2012 butao.com All Rights Reserved 版权所有  浙B2-20090126-17</div>
            <div class="png">
                <a href="#"><img src="/static/images/rzl.png" alt=""></a>
                <a href="#"><img src="/static/images/zfb.png" alt=""></a>
                <a href="#"><img src="/static/images/360green.png" alt=""></a>
            </div>
        </div>
    </div>
</div>


<!--右边固定导航-->
<div class="rightNav">
    <div class="rightNavLeft">
        <div class="tab">
            <a href="#" class="tab_a1">
                <div>您好！请登录或注册<span></span></div>
                <i></i>
                <span>我的</span>
            </a>
            <a href="#" class="tab_a2">
                <div>我的消息<span></span></div>
                <i></i>
                <span>消息</span>
            </a>
            <a href="#" class="tab_a3">
                <div>欢迎联系客服<span></span></div>
                <i></i>
                <span>客服</span>
            </a>
            <a href="#" class="tab_a4">
                <i></i>
                <span>购<br/>物<br/>车<br/></span>
                <span class="count">0</span>
            </a>
        </div>
    </div>
    <div class="rightNavRight">
        <div class="shopCar">
            <h2>购物车</h2>
            <ul>

            </ul>
            <div class="total">
                <a href="shopcar.html"><h3>查看全部 &lt;</h3></a>
                <p>共<strong>3</strong>件商品，总计<span></span>元</p>
                <div>马上结算<i>&gt;</i></div>
            </div>
        </div>
    </div>
</div>

<!--回到顶部固定栏-->
<ul class="qq">
    <li>
        <a href="#" class="a1"></a>
    </li>
    <li>
        <a href="#" class="a2"></a>
    </li>
    <li>
        <a href="#" class="a3"></a>
    </li>
    <li>
        <a href="#" class="a4"></a>
    </li>
    <li>
        <a href="#" class="a5">
            <img src="/static/images/yingi.jpg" alt="">
        </a>
    </li>
    <li>
        <a href="#" class="a6"></a>
    </li>
</ul>





<div class="shadow"></div>
<div class="shopSize">
    <div class="title">
        <h2>选择规格和确定数量</h2>
        <span class="close"></span>
    </div>
    <div class="shopCount">
        <div class="select_more">
            <dl>
            <dt>选择颜色：</dt>
                <dd>
                    <ul class="color">
                        <li>金色</li>
                        <li>银色</li>
                        <li>黑色</li>
                    </ul>
                </dd>
            <dt>选择尺码：</dt>
                <dd>
                    <ul class="size">
                        <li>35</li>
                        <li>36</li>
                        <li>37</li>
                        <li>38</li>
                    </ul>
                </dd>
            <dt>确定数量：
                <br/><input type="button" value="-" class="min">
                <input type="text" value="1" class="quantity">
                <input type="button" value="+" class="add"> 件
            </dt>
            </dl>
            <div class="select_result">
                您选择了：
            </div>
        </div>
    </div>
    <p title="加入购物车" class="addCar"></p>
    <p title="立即抢购" class="Buy"></p>
</div>
</body>
</html>