<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/register.css">
    <script src="/static/js/jquery-1.12.0.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/register.js"></script>
</head>
<body>
<div class="back">
    <div class="content">
        <div class="contentTop">
            <a href="#" class="reg_logo"></a>
            <a href="/templates/Login.html" class="reg_btn">
                <span>已注册？<i>登录</i></span>
            </a>
        </div>
        <div class="contentBottom" method="post">
            <div class="bg">
                <h2>欢迎您加入步淘网，注册只需15秒，超值优惠每天享受！</h2>
                <div>
                    <label for="" class="qq">邮箱：</label><input type="text" placeholder="请输入邮箱" class="input1" name="email"><span class="false"></span>
                    <p></p>
                </div>
                <div>
                    <label for="" class="name">用户名：</label><input type="text" placeholder="请输入用户名" class="input2" name="username"><span class="false"></span><p>用户名为4-16个字符</p>
                </div>
                <div>
                    <label for="" class="psw1">密码：</label><input type="password" placeholder="请输入密码" class="input3" name="password"><span class="false"></span>
                    <p>为了账户安全，建议最少为6个字符以上</p>
                </div>
                <div>
                    <label for="" class="psw2">确认密码：</label><input type="password" placeholder="请确认密码" class="input4" name="passwords"><span class="false"></span>
                    <p></p>
                </div>
                <input type="checkbox" class="checkbox" checked> <label for="">我已阅读并接受<a class="span1">《步淘网用户协议》</a></label><br/>
                <input type="submit" class="btn">
                <div class="other">
                    <p>您也可以用合作网站帐号登录步淘：</p>
                    <a href=""><img src="/static/images/quick_02.png" alt=""></a>
                    <a href=""><img src="/static/images/quick_01.png" alt=""></a>
                    <a href=""><img src="/static/images/quick_03.png" alt=""></a>
                    <a href=""><img src="/static/images/quick_04.png" alt=""></a>
                    <a href=""><img src="/static/images/quick_05.png" alt=""></a>
                </div>

            </div>

        </div>
    </div>
    <div class="photo">
        <img src="/static/images/reg_pic.png" alt="">
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="footerCenter">
        <div class="Back">
            <div class="FC">
                <h2 class="photo1">用户帮助</h2>
                <ul>
                    <li><a href="#">玩转步淘商城</a></li>
                    <li><a href="#">商城生活常见问题</a></li>
                    <li><a href="#">网站的保障计划</a></li>
                    <li><a href="#">本站意见建议</a></li>
                </ul>
            </div>
            <div class="FC">
                <h2 class="photo2">购物相关</h2>
                <ul>
                    <li><a href="#">网站购物向导</a></li>
                    <li><a href="#">本站订单操作</a></li>
                    <li><a href="#">汇款&转账</a></li>
                    <li><a href="#">验收与签收</a></li>
                </ul>
            </div>
            <div class="FC">
                <h2 class="photo3">商务合作</h2>
                <ul>
                    <li><a href="#">本站商户入驻</a></li>
                    <li><a href="#">本站商户登陆</a></li>
                    <li><a href="#">本站合作案例</a></li>
                    <li><a href="#">步淘友情衔接</a></li>
                </ul>
            </div>
            <div class="FC">
                <h2 class="photo4">关于步淘</h2>
                <ul>
                    <li><a href="#">关于生活商城</a></li>
                    <li><a href="#">步淘网诚聘英才</a></li>
                    <li><a href="#">联系步淘网</a></li>
                    <li><a href="#">生活商城用户协议</a></li>
                </ul>
            </div>
            <div class="FCLast">
                <h2>客服热线<span>（免长途费）</span></h2>
                <div class="photo5">
                    <div class="qq_line">
                        qq在线客服：
                        <a href="#"><img src="/static/images/qq_qy.png" alt="" width="22" height="21"></a>
                    </div>
                </div>
                <div class="time">(周一到周日：08:30-18:00)</div>
            </div>
        </div>
    </div>
    <div class="footerLink">
        <div class="Back">
            <ul>
                <li><a href="#">关于步淘网</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">网站诚聘英才</a></li>
                <li><a href="#">友情链接</a></li>
                <li><a href="#">隐私条款</a></li>
                <li><a href="#">网站地图</a></li>
            </ul>
        </div>
    </div>
    <div class="footerBottom">
        <div class="Back">
            <div class="copyright">Copyright @ 2010-2012 butao.com All Rights Reserved 版权所有  浙B2-20090126-17</div>
            <div class="png">
                <a href="#"><img src="/static/images/rzl.png" alt=""></a>
                <a href="#"><img src="/static/images/zfb.png" alt=""></a>
                <a href="#"><img src="/static/images/360green.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>